<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form th:action="@{/items/{id}/edit(id=${itemId})}" th:object="${form}" method="post">
        <!-- 공통 필드 -->
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label th:for="${#ids.next('name')}">상품명</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="${#ids.next('price')}">가격</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요" />
        </div>
        <div class="form-group">
            <label th:for="${#ids.next('stockQuantity')}">수량</label>
            <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="수량을 입력하세요" />
        </div>

        <!-- Book 특화 필드 -->
        <div th:if="${form instanceof T(jpabook.jpashop.dto.item.BookDTO)}">
            <div class="form-group">
                <label th:for="${#ids.next('author')}">저자</label>
                <input type="text" th:field="*{author}" class="form-control" placeholder="저자를 입력하세요" />
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('isbn')}">ISBN</label>
                <input type="text" th:field="*{isbn}" class="form-control" placeholder="ISBN을 입력하세요" />
            </div>
        </div>

        <!-- Album 특화 필드 -->
        <div th:if="${form instanceof T(jpabook.jpashop.dto.item.AlbumDTO)}">
            <div class="form-group">
                <label th:for="${#ids.next('artist')}">아티스트</label>
                <input type="text" th:field="*{artist}" class="form-control" placeholder="아티스트를 입력하세요" />
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('etc')}">기타 정보</label>
                <input type="text" th:field="*{etc}" class="form-control" placeholder="기타 정보를 입력하세요" />
            </div>
        </div>

        <!-- Movie 특화 필드 -->
        <div th:if="${form instanceof T(jpabook.jpashop.dto.item.MovieDTO)}">
            <div class="form-group">
                <label th:for="${#ids.next('director')}">감독</label>
                <input type="text" th:field="*{director}" class="form-control" placeholder="감독을 입력하세요" />
            </div>
            <div class="form-group">
                <label th:for="${#ids.next('actor')}">배우</label>
                <input type="text" th:field="*{actor}" class="form-control" placeholder="배우를 입력하세요" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
